<!DOCTYPE html>
<html>
<head>
  <title>Broforce</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% unless user_signed_in? %>
    <%= link_to "Войти через GitHub", omniauth_authorize_path(User, :github) %><br />
  <% else %>
    <%= link_to current_user.github_url do %>
      <%= image_tag current_user.image %>
    <% end %>
    Выполнен выход:
    <%= link_to current_user.github_url do %>
      @<%= current_user.nickname %>
    <% end %>
  <% end %>

<%= yield %>

</body>
</html>
